<p>ID: <%= user.id %></p>
<p>Username: <%= user.username %></p>
<p>Name: <%= user.displayName %></p>

<%= user._json.birthday %>
<img src="<%= user.profileUrl %>"></img>

<%= user.profileUrl %>
<%= zodiacPart.name %>
<%= zodiacPart.trait %>
