<!doctype html>
<html>
  <head>
    <title>Perceptions</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/demo.css">

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar-snap">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <!-- // snap team companies apply -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <div class="hidden-xs">
                <ul class="nav navbar-nav">
                  <li >
                    <a class="navbar-brand" href="/">Snap!</a>
                  </li>
                </ul>
              </div>
              <div class="hidden-sm hidden-md hidden-lg">
                <a class="navbar-brand" href="/">Snap!</a>
              </div>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li  ><a href="/opportunities">Opportunities</a></li>
                <li  ><a href="/about">About</a></li>
                <li  ><a href="/apply">Apply</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="active" ><a href="/#"><%= user.facebook.name %> </a></li>      <li><img src="<%= _json.picture.data.url %>" /></li>
              </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
      </nav>
      <div class="fakeloader"></div>
      <div class="container">
        <div class="page-header text-center">
          <h1>
          <span class="fa fa-anchor"></span> Profile Page</h1>
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <div class="row">
          <!-- FACEBOOK INFORMATION -->
          <div class="">
            <div class="well">
              <h3 class="text-primary "> Welcome
              <%= user.facebook.name %>
              </h3>
              <!-- check if the user has this token (is the user authenticated with this social account) -->
              <% if (user.facebook.token) { %>
              <p class="">
                <img src="<%= _json.picture.data.url %>" />
                <br>
                <br>
<% if (zodiacPart) { %>
                <strong>Your prominent traits are </strong>:
                <%= zodiacPart.trait %>
                <br />
                <br />
                <% } %>
                <%= msg %>
<br />
                <br />

                <% if (_json.books) { %>

                <strong>Books</strong>:
                <% for(var i=0; i < _json.books.data.length; i++) { %>
                <td>
                <%= _json.books.data[i].name %>, </td>
                <% } %>
                <br>
<% } %>
                <% if (_json.television) { %>

                <strong>TV</strong>:
                <% for(var i=0; i < _json.television.data.length; i++) { %>
                <td>
                <%= _json.television.data[i].name %>, </td>
                <% } %>
                <br>
                <% } %>


                <% if (_json.music) { %>

                <strong>Music</strong>:
                <% for(var i=0; i < _json.music.data.length; i++) { %>
                <td>
                <%= _json.music.data[i].name %>, </td>
                <% } %>
                <br>
                <% } %>

                <% if (_json.posts) { %>

                <strong>Music</strong>:
                <% for(var i=0; i < _json.posts.data.length; i++) { %>
                <p>
<%= JSON.stringify(_json.posts.data[i].name )%>
                  </p>
                <% } %>
                <br>
                <% } %>


                <%= JSON.stringify(_json.posts) %>



                <% if (_json.favorite_athletes) { %>

                <strong>Favorite athletes</strong>:
                <% for(var i=0; i < _json.favorite_athletes.length; i++) { %>
                <td>
                <%= _json.favorite_athletes[i].name %>, </td>
                <% } %>
                <br>
                <% } %>


                <% if (_json.favorite_teams) { %>

                <strong>Favorite teams</strong>:
                <% for(var i=0; i < _json.favorite_teams.length; i++) { %>
                <td>
                <%= _json.favorite_teams[i].name %>, </td>
                <% } %>
                <br>
                <% } %>




<% if (_json.devices) { %>

                <strong>Device used</strong>:
                <% for(var i=0; i < _json.devices.length; i++) { %>
                <td>
                <%= _json.devices[i].os %>, </td>
                <% } %>
                <br>
                <% } %>



                <strong> </strong>



              </p>
              <% } else { %>
              <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//gabhi.github.io/fakeloader.js/fakeLoader.js"></script>
      <script>
      $(document).ready(function() {
      $(".fakeloader").fakeLoader({
      timeToHide: 10,
      bgColor: "#1abc9c",
      spinner: "spinner6"
      });
      });
      </script>
    </body>
  </html>
